<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1><%= @themes.theme_name %></h1>
    </div>
    <div class="col-sm mt-2">
      <%= link_to 'Показати всі лекції', themes_path, :class => 'btn btn-success' %>
    </div>

    <div class="col-sm mt-2">
      <%= link_to 'Редагувати', edit_theme_path(@themes), :class => 'btn btn-warning' %>
    </div>
<%= @themes.course_id %>
</div>
</div>