<!doctype html>
<html>
<body>
<ul>
  <% if student_signed_in? %>
    <li>
      <%= button_to "Sign Out", destroy_student_session_path , :method => :delete %>
    </li>
    <li>
      <%= current_student.email %>
      <%# if @student.avatar.attached? %>
      <!--      <image src="<%#=(url_for(@student.avatar)) %>">-->
      <!--      "Bodya QA"-->
      <%#end %>
    </li>
  <% else  %>
    <li>
      <%= link_to "sign in", new_student_session_path %> Авторизація
    </li>
    <li>
      <%= link_to "sign UP", new_student_registration_path %> Регістрація
    </li>
  <%end %>
</ul>
</body>
</html>
