<h1>New</h1>
  <%=  form_for @courses, url: courses_path do |form|  %>
  <p>
    <%= form.label :"Назва предмету" %><br>
    <%= form.text_field :name %>
  </p>


  <p>
    <%= form.submit %>
  </p>
<% end %>