  <h2 class="text-center mt-5"><%= @courses.name %></h2>

<div class="text-center mt-5">
  <%= link_to 'Show All', courses_path, :class => 'btn btn-success'  %>
  <%= link_to 'Edit', edit_course_path(@courses), :class => 'btn btn-warning'%>
</div>
